$themeColor: rgba(0, 0, 0, 0.311);
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}
.orderButton {
  padding: 0.5rem;
}
.btn {
  background-color: white;
  font-family: "Quantico", sans-serif;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 20%;
  margin: 1rem 1.5rem;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background-color: bisque;
  }
}

body {
  background-color: rgba(0, 0, 0, 0.311);
  color: white;
  font-family: "Quantico", sans-serif;

  section.animation-wrapper {
    position: fixed;
    //background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    .slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.9),
        rgba(0, 0, 0, 0.8)
      );
      backdrop-filter: blur(1.6px);
      z-index: 2;
    }
  }

  header {
    nav {
      box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.256);
      ul {
        display: flex;
        justify-content: space-around;
        li {
          a {
            font-size: 1.15rem;
            color: aliceblue;
            transition: all 0.5s ease;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
    margin-bottom: 3rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .mainSection {
      h1 {
        font-size: 3rem;
        margin-bottom: 1.8rem;
      }
      p {
        font-size: 1.6rem;
      }

      div.inputs {
        form {
          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button {
            animation-name: arrow;
            animation-duration: 4s;
            animation-iteration-count: 1;
            opacity: 0.5;
          }
          input,
          select {
            font-size: 1.05rem;
            padding: 0.5rem;
            border: none;
            border-radius: 0.25rem;
            margin: 0.35rem;
            background-color: aliceblue;
            font-family: "Quantico", sans-serif;
            appearance: none;
            -webkit-appearance: none;
          }
          select.selectGrade {
            width: 3.5rem;
            height: 3rem;
            border-radius: 50%;
            text-align: center;
          }

          button.trashButton {
            background-color: rgba(0, 0, 0, 0.021);
            border: none;
            color: white;
            cursor: pointer;
            font-size: 1.2rem;
          }
        }
      }
      button.plusBtn {
        margin: 2rem 0rem;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        i {
          font-size: 2rem;
          color: white;
        }
      }
    }
    .result {
      display: flex;
      //flex-direction: column;
      justify-content: center;
      align-items: center;
      section {
        padding: 2rem;
        h1 {
          padding: 2rem;
          min-width: 6rem;
          border: 3px solid rgba(251, 246, 217, 0.9);
          border-radius: 50%;
          text-align: center;
          margin: 2rem;
          animation-name: border_color;
          animation-duration: 6s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

.remove {
  transform: scale(0);
  transition: all 0.5s ease;
}

@keyframes border_color {
  0% {
    border-color: rgba(251, 246, 217, 0.8);
  }
  33% {
    border-color: rgba(251, 246, 217, 0.5);
  }

  66% {
    border-color: rgba(251, 246, 217, 0.2);
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
